h1 {
    font-family: "Playfair Display", serif;
    font-size: 32px; /* Adjust font size as needed */
}

h3 {
    font-family: "Dancing Script", cursive;
    font-size: 22px; /* Adjust font size as needed */
}

h4 {
    font-family: "Helvetica";
    font-size: 18px;
/*    margin-left: 20px;*/
}

/* Flexbox container for three-column layout */
.three-column-container {
    display: flex;
    margin-top: 20px; /* Add some space above */
    justify-content: space-between; /* Distribute space between columns */
    align-items: flex-start; /* Align items to the top */
}

/* Column widths and alignment */
.three-column-container .column {
    display: flex;
    flex-direction: column;
    padding: 0px;
    box-sizing: border-box;
}

/* Specific widths for each column */
.three-column-container .column {
    flex: 0 0 30%; /* Each column will take 30% of the container width */
}

/* Styling for the image */
.three-column-container .column img {
    max-width: 100%; /* Ensures the image does not exceed the container's width */
    height: auto; /* Maintains the aspect ratio */
    max-height: 300px; /* Sets the maximum height */
    display: block;
    margin: 0 auto; /* Center the image within the column */
    object-fit: contain; /* Ensures the image fits within the max-height while maintaining the aspect ratio */
}

#carryImage {
    width: 100%; /* Set a maximum width for the image */
    height: auto;
}

.custom-list-spacing .list-group-item {
    padding: 5px 10px; /* Adjust padding as needed */
    margin-bottom: 2px; /* Adjust margin as needed */
    line-height: 1.2;  /* Adjust line-height as needed */
}

.highlight {
    color: #FF5733; /* Change to your desired color */
    font-weight: bold;
}


.list-group-item {
    border: 1px solid white !important; /* White border color */
    background-color: transparent; /* Optional: Make background transparent */
    display: flex;
    align-items: center; /* Center items vertically */
}


.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.pink-span {
    margin-right: 10px;
    color: #ad9393;
}


.fa-star {
    font-size: 20px !important; /* Adjust this value to change the size of the stars */
}

/* Styles for checked stars */
.checked {
    color: #ad9393; /* You can change this color if needed */
}

/* Styles for unchecked stars */
.notchecked {
    color: #f0f0f0 !important; /* Almost white color for unchecked stars */
}

/* Add vertical padding between rating groups */
.rating-group {
    margin-bottom: 12px; /* Adjust this value to change the space between groups */
}

/* Add vertical padding between rating groups */
.feature {
    margin-bottom: 10px; /* Adjust this value to change the space between groups */
}


/*@media only screen and (max-width: 768px) {
    

    .three-column-container {
        flex-direction: column; 
    }
}*/

/* Media query for small screens */
@media only screen and (max-width: 768px) {
    .three-column-container .column img {
        max-height: 300px;
    }

    .three-column-container {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Left-align all columns */
    }

    .three-column-container .column:first-child {
        align-self: center; /* Center the first column (the image) */
    }

    .fa-star {
        font-size: 15px !important; /* Adjust this value to change the size of the stars */
    }
}
