/* Existing styles */
.navbar {
    min-height: 80px;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.bg-dark {
    background-color: #222 !important;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


body {
    padding-top: 80px;
    background-color: #F5F7F8;
}

.row {
    max-width: 100%;
}


#buttonBox {
    max-width: 900px;
    padding: 40px 0px;
}

.navbar-brand {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: #e0e0e0;
    margin-right: 20px;
    cursor: pointer;
}

.button-filters {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
}

.button-filters::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit-based browsers */
}

.button-filters {
    -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.button-filters button {
    flex-shrink: 0; /* Prevent buttons from shrinking */
}

.navbar-nav .nav-link {
    color: white !important;
    margin-right: 10px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: 13px;
    cursor: pointer;
}

.navbar-nav .nav-link:hover {
    color: #222 !important;
    background-color: #888 !important;
}

.navbar-nav .nav-link:last-child {
    margin-right: 0;
}

.navbar-dark .navbar-nav .nav-item .nav-link.active {
    background-color: white;
    color: grey !important;
}

.btn-custom {
    color: #222;
    border: 2px solid #222;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 20px;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
}

/* Ensure active state is black */
.btn-custom.active {
    background-color: #222 !important;
    color: white !important;
}

/* Hover state */
.btn-custom:hover {
    background-color: #ddd;
    color: white;
    border: 2px solid #ddd;
}

.btn-custom:focus {
    outline: none;
    box-shadow: none;
    color: black;
}

/* Disabled state */
.btn-custom.disabled {
    background-color: white;
    color: #ddd;
    cursor: not-allowed;
    border: 2px solid #ddd;
}

.btn-custom.disabled:hover {
    background-color: white !important;
    color: #ddd !important;
    cursor: not-allowed;
    border: 2px solid #ddd;
}

.btn-outline-secondary.disabled {
    cursor: not-allowed;
    background-color: lightgrey;
}


.btn-outline-secondary.disabled:hover {
    cursor: not-allowed;
    background-color: grey;
}

#button-filter {
    font-size: 18px;
}

p, li {
    font-size: 12px;
    font-weight: 400;
}

.input-format{
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: none;
}

.input-underline:focus {
    border-bottom-color: #000;
    box-shadow: none;
}

.btn-outline-secondary {
    margin-left: -10px !important;
    font-size: 14px;
    border-radius: 15px;
    width: 50px;
    z-index: 800;
    background-color: black;
    border: black;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fs32 {
    font-size: 32px;
}

.fsmedium {
    font-size: 17px;
}

.fscarry {
    font-size: 15px;
}

.fsplus {
    font-size: 20px;
}

.fs16 {
    font-size: 14px;
}

.playfair {
  font-family: "Playfair Display", sans-serif;
}

.dancing {
  font-family: "Dancing Script", sans-serif;
}

.show-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: black;
}

.show-button:focus {
    outline: none;
}

.checkbox-group label {
    padding-left: 10px; /* Adjust the padding as needed */
}

.checkbox-group input[type="checkbox"] {
    appearance: none; /* Removes default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    border-radius: 3px;
}

/* Checkbox checked state with solid black background */
.checkbox-group input[type="checkbox"]:checked {
    background-color: black;
    border: none;
}

.btn-container {
    display: flex !important;
    justify-content: center  !important; /* Centers the button horizontally */
    align-items: center  !important; /* Centers the button vertically */
}

.show-button:hover {
    color: grey;
}

.dropdown select:focus {
    outline: none;
}

.dropdown {
    display: inline-block;
    position: relative;
    max-height: 30px;
    margin-bottom: 10px;
}

.dropdown select {
    width: 200px;
    height: 40px; /* Set a fixed height for the dropdown */
    padding: 6px;
    border: 2px solid #222;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.dropdown {
    color: black; /* Ensure the text color of the dropdown is set to black */
}

.dropdown select {
    color: black !important; /* Ensure the text color of the dropdown is set to black */
}

.dropdown option {
    color: black !important; /* Ensure the text color of the options is set to black */
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    animation: slideDown 1s ease-out forwards;
}

.sidebar {
    width: 30%;
    background-color: #e8e8e8;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    animation: slideDown 2s ease-out forwards;
}

.main-content {
    width: 70%;
    background-color: #d3d3d3;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    animation: slideDown 2s ease-out forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-down {
    animation: slideDown 1s ease-out forwards;
}

.pink {
    color: #ad9393;
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    animation: slideDown 0.8s ease-out forwards;
}

.search-container {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    max-width: 1000px;
    padding: 10px;
}

.title-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 1000px;
    padding-left: 30px;
}

#showMoreBtn {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
    .content-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
    }

    .title-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
    }

    .search-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
    }

    .fs16 {
        font-size: 13px;
    }

    .fsmedium {
        font-size: 14px;
    }

    .fscarry {
        font-size: 14px;
    }

    .fsplus {
        font-size: 16px;
    }

}

@media only screen and (max-width: 320px) {
    #copy-right {
        font-size: 10px !important;
    }   
}

@media only screen and (max-width: 425px) {
    .navbar-brand {
        font-size: 19px !important;
    }   

    .navbar-toggler {
        width: 40px;
        padding: 7px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .navbar {
        padding-left: 30px;
        padding-right: 30px;
    }

    .content-container .search-container .title-container {
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .navbar-brand {
        font-size: 24px;
    }

    .fs16 {
        font-size: 13px;
    }
    
    .btn-custom {
        color: #222;
        border: 1.5px solid #222;
        border-radius: 12px;
        margin-right: 3px !important;
        margin-bottom: 10px;
        padding: 5px 12px;
    }

    .dropdown select {
        border: 1.5px solid #222;
    }

    #button-filter {
        padding: 5px 10px !important;
        font-size: 13px !important;
    }
}


@media only screen and (max-width: 425px) {
    .content-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 98% !important;
    }
}


.custom-switch .custom-control .checkbox {
    z-index: 0 !important;
}


.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
  color: #e0e0e0;
}


.nav li {
    margin-right: 15px; /* Adjust the spacing as needed */
}

.nav li:last-child {
    margin-right: 0; /* Ensure the last item doesn't have extra space */
}


.footer {
    background-color: black;
    color: white;
    padding: 10px 20px; /* Padding inside the footer */
    position: fixed;
    bottom: 0;
    align-items: center;
    width: 100%;
    height: 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right {
    padding-right: 20px; /* Padding to the right of "blu" */
}


#copy-right {
    color: #e0e0e0;
    font-size: 13px;
    padding-left: 30px;
}

#social {
    padding-right: 30px;
    max-width: 100px !important;
}
