.navbar {
    min-height: 80px; /* Increase the height of the navbar */
    background-color: #222 !important; /* Darker shade of black with !important */
    padding-top: 15px; /* Padding before the title */
    padding-left: 100px; /* Padding on the left side */
    padding-right: 100px; /* Padding on the right side */
}

#header {
    position: fixed;
    top: 0; /* Fixed to the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it's above other content */
}

body {
    padding-top: 80px; /* Adjust according to the height of your navbar */
}

.navbar-brand {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.0rem;
    color: white; /* Font color set to white */
    margin-right: 20px; /* Space after the navbar brand */
    cursor: pointer; /* Change cursor to pointer */
}

.navbar-nav .nav-link {
    color: white !important; /* Font color set to white with !important */
    margin-right: 10px; /* Space after each nav link */
    padding-left: 30px !important; /* Padding on the left side of each nav link */
    padding-right: 30px !important; /* Padding on the right side of each nav link */
    font-size: 13px;
    cursor: pointer; /* Change cursor to pointer */
}

.navbar-nav .nav-link:hover {
    color: #222 !important; /* Light gray text color on hover */
    background-color: #888 !important; /* Darker background color on hover */
}

.navbar-nav .nav-link:last-child {
    margin-right: 0; /* Remove margin after the last nav link */
}

.navbar-dark .navbar-nav .nav-item .nav-link.active {
    background-color: white; /* Custom background color for active link */
    color: grey !important; /* Text color when active */
}

.btn-custom {
    color: black;
    border: 2px solid black;
    border-radius: 10px; /* Rounded corners */
    margin-right: 30px; /* Space between buttons */
    margin-bottom: 50px; /* Space between button groups */
    font-size: 14px; /* Adjust font size as needed */
    font-weight: 700; /* Adjust font weight as needed */
    padding: 7px 20px; /* Padding around the button text */
}


.btn-group {
    display: flex; /* Ensure the buttons are displayed in a row */
    flex-wrap: wrap; /* Allow wrapping if necessary */
}

.btn-custom.active {
    background-color: black;
    color: white;
}

.btn-custom:hover {
    background-color: #ddd;
    color: white;
    border: 2px solid #ddd;
}

.btn-custom.disabled {
    background-color: white;
    color: #ddd;
    cursor: not-allowed;
    border: 2px solid #ddd;
}

.btn-custom.disabled:hover {
    background-color: white !important;
    color: #ddd !important;
    cursor: not-allowed;
    border: 2px solid #ddd;
}

p {
    font-size: 12px; /* Adjust font size as needed */
    font-weight: 400;
}

li {
    font-size: 12px; /* Adjust font size as needed */
    font-weight: 400;
}

.content-container {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.input-underline {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.input-underline:focus {
    border-bottom-color: #000;
    box-shadow: none;
}

.btn-outline-secondary {
    margin-left: 1rem; /* Adjust this as needed for the gap */
    font-size: 14px;
    border-radius: 15px;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fs32 {
    font-size: 32px;
}

.fs16 {
    font-size: 16px;
}

.playfair {
  font-family: "Playfair Display", sans-serif;
}

.dancing {
  font-family: "Dancing Script", sans-serif;
}

.show-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}

.show-button:focus {
    outline: none;
}

.show-button:hover {
    color: grey;
}

.dropdown select:focus {
    outline: none;
}

.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown select {
    width: 200px;
    padding: 8px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}


.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Full viewport height */
}

.sidebar {
    width: 30%;
    background-color: #e8e8e8; /* Lighter shade of #f0f0f0 */
    padding: 30px;
    box-sizing: border-box; /* Include padding in width */
}

.main-content {
    width: 70%;
    background-color: #d3d3d3; /* Lighter shade of #e0e0e0 */
    padding: 50px;
    box-sizing: border-box; /* Include padding in width */
}

.pink {
    color: #ad9393;
}
