/* Existing styles */
.navbar {
    min-height: 80px;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.bg-dark {
    background-color: #222 !important;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

footer {
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    padding-top: 80px;
    padding-bottom: 60px;
}

#buttonBox {
    max-width: 900px;
    background-color: white;
    padding: 20px 0px;
}

.navbar-brand {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: #e0e0e0;
    margin-right: 20px;
    cursor: pointer;
}

#copy-right {
    color: #e0e0e0;
    font-size: 13px;
}

.navbar-nav .nav-link {
    color: white !important;
    margin-right: 10px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: 13px;
    cursor: pointer;
}

.navbar-nav .nav-link:hover {
    color: #222 !important;
    background-color: #888 !important;
}

.navbar-nav .nav-link:last-child {
    margin-right: 0;
}

.navbar-dark .navbar-nav .nav-item .nav-link.active {
    background-color: white;
    color: grey !important;
}

.btn-custom {
    color: #222;
    border: 2px solid #222;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 20px;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
}

.btn-custom.active {
    background-color: #222;
    color: white;
}

.btn-custom:hover {
    background-color: #ddd;
    color: white;
    border: 2px solid #ddd;
}

.btn-custom.disabled {
    background-color: white;
    color: #ddd;
    cursor: not-allowed;
    border: 2px solid #ddd;
}

.btn-custom.disabled:hover {
    background-color: white !important;
    color: #ddd !important;
    cursor: not-allowed;
    border: 2px solid #ddd;
}

.btn-outline-secondary.disabled {
    cursor: not-allowed;
}

.btn-outline-secondary.disabled:hover {
    cursor: not-allowed;
}

p, li {
    font-size: 12px;
    font-weight: 400;
}

.input-underline {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
}

.input-underline:focus {
    border-bottom-color: #000;
    box-shadow: none;
}

.btn-outline-secondary {
    margin-left: 1rem;
    font-size: 14px;
    border-radius: 15px;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fs32 {
    font-size: 32px;
}

.fs16 {
    font-size: 14px;
}

.playfair {
  font-family: "Playfair Display", sans-serif;
}

.dancing {
  font-family: "Dancing Script", sans-serif;
}

.show-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}

.show-button:focus {
    outline: none;
}

.checkbox-group label {
    padding-left: 10px; /* Adjust the padding as needed */
}

.checkbox-group input[type="checkbox"] {
    appearance: none; /* Removes default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    border-radius: 3px;
}

/* Checkbox checked state with solid black background */
.checkbox-group input[type="checkbox"]:checked {
    background-color: black;
    border: none;
}

.btn-container {
    display: flex !important;
    justify-content: center  !important; /* Centers the button horizontally */
    align-items: center  !important; /* Centers the button vertically */
}

.show-button:hover {
    color: grey;
}

.dropdown select:focus {
    outline: none;
}

.dropdown {
    display: inline-block;
    position: relative;
    max-height: 30px;
    margin-bottom: 10px;
}

.dropdown select {
    width: 200px;
    padding: 6px;
    border: 2px solid #222;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    animation: slideDown 1s ease-out forwards;
}

.sidebar {
    width: 30%;
    background-color: #e8e8e8;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    animation: slideDown 2s ease-out forwards;
}

.main-content {
    width: 70%;
    background-color: #d3d3d3;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    animation: slideDown 2s ease-out forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-down {
    animation: slideDown 1s ease-out forwards;
}

.pink {
    color: #ad9393;
}

.content-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

#showMoreBtn {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
    .content-container {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
    }

    .fs16 {
        font-size: 13px;
    }
}

@media only screen and (max-width: 425px) {
    .navbar-brand {
        font-size: 15px !important;
    }   
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .navbar {
        padding-left: 30px;
        padding-right: 30px;
    }

    .content-container {
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .button-filters {
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
    }

    .button-filters::-webkit-scrollbar {
        display: none; /* Hide scrollbar for WebKit-based browsers */
    }

    .button-filters {
        -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
        scrollbar-width: none;  /* Hide scrollbar for Firefox */
    }

    .button-filters button {
        flex-shrink: 0; /* Prevent buttons from shrinking */
    }

    .navbar-brand {
        font-size: 24px;
    }

    .fs16 {
        font-size: 13px;
    }
    
    .btn-custom {
        color: #222;
        border: 2px solid #222;
        border-radius: 12px;
        margin-right: 3px !important;
        margin-bottom: 10px;
        padding: 5px 10px;
    }

    #button-filter {
        padding: 5px 10px !important;
        font-size: 13px !important;
    }
}


.custom-switch .custom-control .checkbox {
    z-index: 0 !important;
}


.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
