{% extends "wrappinggallery/layout.html" %}

{% load static %}

{% block title %}
<title>The Wrapping Gallery | About</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="Who am I and what is The Wrapping Gallery?">
{% endblock %}

{% block og_title %}
<meta property="og:title" content="The Wrapping Gallery | About">
{% endblock %}

{% block og_description %}
<meta property="og:description" content="Who am I and what is The Wrapping Gallery?">
{% endblock %}


{% block body %}
<!DOCTYPE html>
<html lang="en">
<div class="container">
    <div class="sidebar">
        <img id="carryImage" src="{{imageSrc}}">
    </div>
    <div class="main-content">
        <p class="poiret-one-regular fs32 pink">WELCOME</p>

        <p class="poppins-light fs16">My name is Paula and I started wrapping my daughter in November 2022, when she was only 5 months old. I learnt to wrap thanks to the wonderful people in this community who dedicated a lot of time and effort to creating great educational videos and resources and to answering questions in babywearing groups.</p>

        <p class="poppins-light fs16">I want to give back to the community by creating a space where us wrappers can feel inspired to try new carries, find the perfect carry for any occasion and escape the temptation to buy new wraps.</p>

        <p class="poppins-light fs16">The Wrapping Gallery will never be affiliated with any brand and access to all content in this site is and always will be free. If you choose to support the project, whether to help cover the costs of the server, data storage and the domain, or to acknowledge the time I dedicate to creating the content, any contributions will be welcome, but completely voluntary.</p>

        <p class="poppins-light fs16">This is an evolving project. If you have any feedback, suggestion, complaint, or spot any errors email me at <strong>thewrappinggallery@gmail.com</strong>. If you are tech-savvy and would like to contribute to the code, you can find my public repo <a href="https://github.com/paulafernalia/the-wrapping-gallery" target="_blank">here</a>.</p>

        <p class="poppins-light fs16">May The Wrapping Gallery inspire and support you in your wrapping journey just as much as I am enjoying creating it.</p>


        <div class="btn-container">
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="thewrappinggallery" data-color="#c89d9d" data-emoji="☕" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
        </div>

        <br><br>
        <h3 class="poiret-one-regular pink">Acknowledgements</h3>
        <p class="poppins-light fs16">These are the people that have made a direct contribution to this project in various ways and I am forever grateful for their help: <b>Caroline B., Gary H., Imanol V., Jenny L., Koldo A., Rachael S.</b>.

    </div>
</div>
<script>
    function releaseFooter() {
        const footer = document.querySelector('footer');
        footer.style.position = 'static'; // Reset to default position
        footer.style.bottom = 'auto'; // Reset to default value
        footer.style.width = 'auto'; // Reset to default width
    }


    function fixFooter() {
        const footer = document.querySelector('footer');
        footer.style.position = 'fixed'; 
        footer.style.bottom = '0';
        footer.style.width = '100%';
    }

    function exploreCarriesBtnClick() {
        window.location.href = "{% url 'index' %}";
    }

    function updateFooterPosition() {
        releaseFooter();

        // print position of footer
        let element = document.querySelector('footer');
        elementPosition = 0;

        while(element) {
            elementPosition += element.offsetTop;
            element = element.offsetParent;
        }

        let viewportHeight = window.innerHeight;

        if (elementPosition < viewportHeight - 80) {
            fixFooter();
        } else {
            releaseFooter();
        }
    }

    document.addEventListener('DOMContentLoaded', function() { 
        updateFooterPosition();
    });
</script>

{% endblock %}
