{% extends "wrappinggallery/layout.html" %}

{% load static %}

{% block body %}
<div class="container">
    <div class="sidebar">
        <img id="carryImage" src="{{imageSrc}}">
    </div>
    <div class="main-content">
        <p class="playfair fs32 pink">WELCOME</p>

        <p class="poppins-light fs16">My name is Paula and I have embarked on a mission to create a hand-drawn tutorial for every documented woven wrap carry and a place free from the temptation to buy new wraps where I hope you will feel inspired to try new things, make the most of your stash and find the perfect carry for any occasion.</p>

        <p class="poppins-light fs16">May this platform inspire and support you in your wrapping journey just as much as I am enjoying creating it.</p>

        <p class="poppins-light fs16">This is an evolving project. If you have any ideas or spot any errors email me at <strong>thewrappinggallery@gmail.com</strong>.</p>

        <p class="poppins-light fs16">If you are tech-savvy and would love to contribute to the code, you can find my public repo <a href="https://github.com/paulafernalia/the-wrapping-gallery" target="_blank">here</a>.
        </p>
        <br>
        <div class="btn-container">
            <button type="button" class="btn btn-custom mx-1 poppins-regular fs16" onclick="exploreCarriesBtnClick()">Explore carries</button>
        </div>
    </div>
</div>
<script>
    function exploreCarriesBtnClick() {
        window.location.href = "{% url 'index' %}";
    }
</script>

{% endblock %}
