{% extends "wrappinggallery/layout.html" %}

{% load static %}

{% block body %}
<div class="container">
    <div class="sidebar">
        <img id="carryImage" src="{{imageSrc}}">
    </div>
    <div class="main-content">
        <p class="playfair fs32 pink">HELLO, I'M PAULA</p>
        <p class="poppins-light fs16">I am a first time mum and a wrapper. I draw and code when my daughter is sleeping. Since December 2022, woven wraps have been an integral part of my relationship with her.</p>

        <p class="poppins-light fs16">I have embarked on a mission to create a hand-drawn tutorial for every documented woven wrap carry and a place where you feel inspired to try new things and where you can find the perfect carry for any occasion.</p>

        <p class="poppins-light fs16">May The Wrapping Gallery inspire and support you in your wrapping journey just as much as I am enjoying creating it.</p>

        <p class="poppins-light fs16">This is a work in progress. If you have any ideas or spot any errors or would just like to chat about this, email me at thewrappinggallery@gmail.com.</p>

        <p class="poppins-light fs16">If you are a web developer and would like to help me out, I have made this project open source; you can find everything in my GitHub repo
        <a href=https://github.com/paulafernalia/the-wrapping-gallery>the-wrapping-gallery</a>.
        </p>
    </div>
</div>

{% endblock %}
