{% extends "wrappinggallery/layout.html" %}

{% load static %}

{% block body %}

<br>
<div class="title-container">
    <a href="{% url 'index' %}" class="back-button poppins-light fssmall">
  <i class="fas fa-chevron-left"></i> Home
</a>
</div>

<br>
<div class="carry-card">
    <div id="carryTitle" class="title-container fsmedium">
        <div class="two-column-container">
            <div class="column">
                <img id="carryImage" alt="{{name}}" src="{{imageSrc}}">
                <br>
            </div>

            <div class="column">
                 <h4 class="poppins-light" id="carrySize">{{position|upper}} CARRY &nbsp; | &nbsp;{{size|upper}}</h4>
                <br>
                <h1 id="carryName">{{longtitle}}</h1>

                <div class="feature poppins-light fsmedium">
                    <span class="poppins-light">MM position:</span>
                    &nbsp;{{ mmposition }} <a href="{% url 'faq' %}#faq_mm" class="info-icon-black" title="What does this mean">i</a>
                </div>
                <hr>
                <div class="feature poppins-light fscarry">
                    <span class="poppins-bold pink">Other features: </span>&nbsp;
                        {% if pretied %}
                            Can be pre-tied &nbsp; &#8226; &nbsp;
                        {% endif %}
                        {% if rings %}
                            uses rings&nbsp;&#8226;&nbsp;
                        {% endif %} {{shoulders}} shoulders &nbsp; &#8226; &nbsp; {{layers}} layers
                </div>
                <div class="feature poppins-light fscarry">
                    <span class="poppins-bold pink">Passes :</span><a href="{% url 'faq' %}#faq_passes" class="info-icon-dark" title="What does this mean">i</a>&nbsp;
                    {% for pass in passes %}
                      {{ pass }}{% if not forloop.last %} &nbsp; &#8226; &nbsp; {% endif %}
                    {% endfor %}
                </div>

                {% if other %}
                <div class="feature poppins-light fscarry">
                    <span class="poppins-bold pink">Other elements: </span>&nbsp;
                    {% for element in other %}
                        {{ element }}{% if not forloop.last %}&nbsp; &#8226; &nbsp;{% endif %}
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
<div class="title-container poppins-light fssmall">
        <p style="color: grey;">Something doesn't look right? <a href="mailto:thewrappinggallery@gmail.com" style='color: grey; text-decoration: underline;'>Email me</a></b></p>
</div>

<div class="title-container">
    <br><br>
    
    <div class="table-container">
        <div class="table-item">
            <div class="table-icon">
                <img src="{% static 'wrappinggallery/icons/leaners.svg' %}" alt="Icon description" width="30" height="30">
            </div>
            <div class="table-content">
                <div class="table-title-container">
                    <p class="table-title">Good for leaners<a href="{% url 'faq' %}#faq_ratings" class="info-icon" title="What does this mean">i</a></p>

                    {% if leaners != 0 %}
                    <div id="leaners-rating" class="rating-group" data-property="{{leaners}}">
                    </div>
                    {% else %}
                    <div class="poppins-bold fscarry pink">Varies</div>
                    {% endif %}

                </div>
                <p class="table-description">How good is this carry for containing a leaner, including while you are wrapping?</p>
            </div>
        </div>

         <div class="table-item">
            <div class="table-icon">
                <img src="{% static 'wrappinggallery/icons/legstraighteners.svg' %}" alt="Icon description" width="30" height="30">
            </div>
             <div class="table-content">
                <div class="table-title-container">
                    <p class="table-title">Good for seat poppers<a href="{% url 'faq' %}#faq_ratings" class="info-icon" title="What does this mean">i</a></p>
                    
                    {% if legstraighteners != 0 %}
                    <div id="legstraighteners-rating" class="rating-group" data-property="{{legstraighteners}}">
                    </div>
                    {% else %}
                    <div class="poppins-bold fscarry pink">Varies</div>
                    {% endif %}
                    
                </div>
                <p class="table-description">Is this carry good for leg straighteners? Does it have leg passes? A deep seat?</p>
            </div>
        </div>

        <div class="table-item">
            <div class="table-icon">
                <img src="{% static 'wrappinggallery/icons/newborns.svg' %}" alt="Icon description" width="30" height="30">
            </div>
            <div class="table-content">
                <div class="table-title-container">
                    <p class="table-title">Good for newborns<a href="{% url 'faq' %}#faq_ratings" class="info-icon" title="What does this mean">i</a></p>
                    
                    {% if newborns != 0 %}
                    <div id="newborns-rating" class="rating-group" data-property="{{newborns}}">
                    </div>
                    {% else %}
                    <div class="poppins-bold fscarry pink">Varies</div>
                    {% endif %}
                    
                
                </div>
                <p class="table-description">Can it be wrapped high, with no bunched passes under tiny legs, and no head or torso support is required?</p>
            </div>
        </div>

        <div class="table-item">
            <div class="table-icon">
                <img src="{% static 'wrappinggallery/icons/bigkids.svg' %}" alt="Icon description" width="30" height="30">
            </div>
            <div class="table-content">
                <div class="table-title-container">
                    <p class="table-title">Good for big kids<a href="{% url 'faq' %}#faq_ratings" class="info-icon" title="What does this mean">i</a></p>
                    
                    {% if newborns != 0 %}
                    <div id="bigkids-rating" class="rating-group" data-property="{{bigkids}}">
                    </div>
                    {% else %}
                    <div class="poppins-bold fscarry pink">Varies</div>
                    {% endif %}
                
                </div>
                <p class="table-description">Does it allow you to carry a big child comfortably or is this best for short periods and or young babies?</p>
            </div>
        </div>

        {% if position != 'Back' %}
        <div class="table-item">
            <div class="table-icon">
                <img src="{% static 'wrappinggallery/icons/feeding.svg' %}" alt="Icon description" width="30" height="30">
            </div>
            <div class="table-content">
                <div class="table-title-container">
                    <p class="table-title">Good for feeding<a href="{% url 'faq' %}#faq_ratings" class="info-icon" title="What does this mean">i</a></p>
                    
                    {% if feeding != 0 %}
                    <div id="feeding-rating" class="rating-group" data-property="{{feeding}}">
                    </div>
                    {% else %}
                    <div class="poppins-bold fscarry pink">Varies</div>
                    {% endif %}
                
                </div>
                <p class="table-description">Can you pop a boob out and place baby’s head at boob height with minimal adjustment?</p>
            </div>
        </div>
        {% endif %}

        <div class="table-item">
            <div class="table-icon">
                <img src="{% static 'wrappinggallery/icons/quickups.svg' %}" alt="Icon description" width="30" height="30">
            </div>
            <div class="table-content">
                <div class="table-title-container">
                    <p class="table-title">Good for quick ups<a href="{% url 'faq' %}#faq_ratings" class="info-icon" title="What does this mean">i</a></p>
                    <div id="quickups-rating" class="rating-group" data-property="{{quickups}}">
                    </div>
                </div>
                <p class="table-description">The more layers and complex elements, the longer it takes to wrap.</p>
            </div>
        </div>
        <br>

        <div class="table-item">
            <div class="table-icon">
                <img src="{% static 'wrappinggallery/icons/difficulty.svg' %}" alt="Icon description" width="30" height="30">
            </div>
            <div class="table-content">
                <div class="table-title-container">
                    <p class="table-title">Difficulty<a href="{% url 'faq' %}#faq_ratings" class="info-icon" title="What does this mean">i</a></p>
                    <div id="difficulty-rating" class="rating-group" data-property="{{difficulty}}">
                    </div>
                </div>
                <p class="table-description">On a scale from absolute beginners to wrapping guru level</p>
            </div>
        </div>

        <div class="table-item">
            <div class="table-icon">
                <img src="{% static 'wrappinggallery/icons/fancy.svg' %}" alt="Icon description" width="30" height="30">
            </div>
            <div class="table-content">
                <div class="table-title-container">
                    <p class="table-title">Fanciness<a href="{% url 'faq' %}#faq_ratings" class="info-icon" title="What does this mean">i</a></p>
                    <div id="fancy-rating" class="rating-group" data-property="{{fancy}}">
                    </div>
                </div>
                <p class="table-description">All woven wrap carries are aesthetically pleasing, but some more so than others.</p>
            </div>
        </div>
    </div>
</div>

<div id="loadingSpinner" class="loading-spinner"></div>
<br><br>
<div id="tutorial-content">
    <div class="title-container poppins-bold fsmedium">
        Picture tutorial
    </div>
    {% if position == 'Back' %}
    <div class="title-container poppins-light fssmall">
        <a href="{% url 'faq' %}#faq_ontoback" style="color: grey; text-decoration: underline;">How do I get baby on my back?</a>
    </div>
    {% endif %}
    <div id="picture-tutorial-grid" class="content-container">
        <br>
        <div class="grid" id="imageGrid" data-name="{{name}}">
        </div>
        <br>
    </div>

    <br>
    <br>
</div>

{% if videoauthor != 'NA' %}
<br>
<div class="title-container poppins-bold fsmedium">
    Video tutorial by {{videoauthor}}
</div>
<div class="content-container">
    <br>
    <div class="video-container">>
        <iframe width="560" height="315" src="{{videotutorial}}"
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>
    <br>
</div>
{% endif %}


{% if videoauthor2 != 'NA' %}
<br><br>
<div class="title-container poppins-bold fsmedium">
    Video tutorial by {{videoauthor2}}
</div>
<div class="content-container">
    <br>
    <div class="video-container">>
        <iframe width="560" height="315" src="{{videotutorial2}}"
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>
    <br>
</div>
{% endif %}

{% if videoauthor3 != 'NA' %}
<br><br>
<div class="title-container poppins-bold fsmedium">
    Video tutorial by {{videoauthor3}}
</div>
<div class="content-container">
    <br>
    <div class="video-container">>
        <iframe width="560" height="315" src="{{videotutorial3}}"
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>
    <br>
</div>
{% endif %}


<br><br><br>
<script src="{% static 'wrappinggallery/js/carry.js' %}"></script>


{% endblock %}
