{% extends "wrappinggallery/layout.html" %}

{% load static %}

{% block body %}
<div id="carryTitle" class="title-container poppins-bold fsmedium">
    <h1 id="carryName">{{title}}</h2>
    <h3 id="carrySize">{{size}}</h3>
</div>

<div class="content-container">
    <div class="three-column-container">
        <div class="column">
            <img id="carryImage" alt="{{name}}" src="{{imageSrc}}">
            <br>
        </div>
        <div class="column">
            <h4 class="dancing fs32">Carry features</p>
                <div class="feature poppins-light fscarry"><span class="poppins-bold pink-span">TYPE: </span> {{position}} carry </div>
                {% if mmposition != 'NA' %}
                    <div class="feature poppins-light fscarry"><span class="poppins-bold pink-span">MM POSITION: </span> {{mmposition}} </div>
                {% endif %}
                <div class="feature poppins-light fscarry">
                    <span class="poppins-bold pink-span">CAN BE PRE-TIED: </span> 
                        {% if pretied %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                </div>
                <div class="feature poppins-light fscarry"><span class="poppins-bold pink-span">DIFFICULTY: </span> {{difficulty}} / 5 </div>
                <div class="feature poppins-light fscarry"><span class="poppins-bold pink-span">FANCY: </span> {{fancy}} / 5</div>
                <div class="feature poppins-light fscarry"><span class="poppins-bold pink-span">LAYERS: </span> {{layers}} </div>
                <div class="feature poppins-light fscarry"><span class="poppins-bold pink-span">SHOULDERS: </span> {{shoulders}} </div>
                <br>
        </div>
        <div class="column">
            <h4 class="dancing fs32">Ratings</h4>
            <div id="newborn-rating" class="rating-group" data-property="{{newborns}}">
                <span class="poppins-light fscarry"> Good for newborns</span>
            </div>
            <div id="legstraightener-rating" class="rating-group" data-property="{{legstraighteners}}">
                <span class="poppins-light fscarry> Good for leg straighteners</span>
            </div>
            <div id="leaners-rating" class="rating-group" data-property="{{leaners}}">
                <span class="poppins-light fscarry"> Good for leaners</span>
            </div>
            <div id="bigkids-rating" class="rating-group" data-property="{{bigkids}}">
                <span class="poppins-light fscarry"> Good for big kids</span>
            </div>
            <div id="quickups-rating" class="rating-group" data-property="{{quickups}}">
                <span class="poppins-light fscarry"> Good for quick ups</span>
            </div>
             <div id="feeding-rating" class="rating-group" data-property="{{feeding}}">
                <span class="poppins-light fscarry"> Good for feeding</span>
            </div>
            <br>
        </div>

    </div>
</div>

{% if videoauthor != 'NA' %}
<br><br>
<div class="title-container poppins-bold fsplus">
    Video tutorial by {{videoauthor}}
</div>
<div class="content-container">
    <br>
    <div class="video-container">>
        <iframe width="560" height="315" src="{{videotutorial}}"
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>
    <br>
</div>
{% endif %}

<div id="loadingSpinner" class="loading-spinner"></div>
<br><br>
<div id="tutorial-content">
    <div class="title-container poppins-bold fsplus">
        Picture tutorial
    </div>
    <div class="content-container">
        <br>
        <div class="grid" id="imageGrid" data-name="{{name}}">
        </div>
        <br>
    </div>

    <br>
    <br>
</div>



<script src="{% static 'wrappinggallery/carry.js' %}"></script>


{% endblock %}
