{% extends "wrappinggallery/layout.html" %}

{% load static %}

{% load custom_filters %}


{% block body %}

<div class="hover-label poppins-regular" style="display: none;"></div>

<div id="carryTitle" class="title-container poppins-bold fsmedium">

    <h2 class="pink poiret-one-regular">{{ user.username|capfirst }}' Collection</h2>

    <h3 class="pink playfair">To do list</h3>
    <p>This are the carries I haven't done yet and would like to try.</p>

    <div class="dropdown">
        <input type="text" class="pretty-input fssmall" id="carrySearch" placeholder="Add carries..." onclick="showDropdown()"
        onkeyup="filterCarries()" />
        <div id="carryDropdown" class="dropdown-content">
            {% for carry in all_carries_ann %}
                <div
                    class="dropdown-item fssmall"
                    style="display:{% if carry.intodo %}none{% else %}block{% endif %};"
                    data-temp="{{ carry.intodo }}"
                    data-name="{{ carry.name }}"
                    data-url="{% url 'carry' carry.name %}"
                    data-position="{{ carry.position }}"
                    onclick="addCarryToTodo(this)">
                    {{ carry.longtitle }}
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>

    <div class="card-grid" id="todoGrid">
    {% for carry in todo_carries %}
        <div 
            class="card-grid-item clickable-grid-item shadow"
            data-title="{{carry.title}}"
            data-name="{{carry.name}}"
            onclick="handleGridItemClick(this, '{{ carry.title|escapejs }}', '{% url 'carry' carry.name %}')"
            onmouseenter="handleMouseEnter(event, '{{carry.title|escapejs}}')"
            onmouseleave="handleMouseLeave()">
            <img
                class="grid-item"
                src="{{carry.image_url}}"
                alt="{{carry.title}}"
            >
            <div
                class="add-circle"
                onclick="clickOnRemoveIcon(event, this)">
                <i class="fa fa-minus"></i>
            </div>
        </div>
    {% endfor %}
    </div>    

    <br>
    <hr>
    <h3 class="pink playfair">Progress</h3>
    <p>This is my collection where I can keep track of all the carries I have tried so far. Click on the + icon to mark is as "done". Click on a carry to open its page.</p>

    <br>

    {% for position in positions %}
        <p class="poppins-bold fs16">{{ position|capfirst }} carries</p>
        {% for size in sizes %}
            {% if total_carries|get_item:position|get_item:size > 0 %}
                <p
                    class="fs16"
                    data-size="{{ size }}"
                    data-position="{{ position }}">
                    <span
                        class="poppins-regular">Base {% if size < 0 %} {{ size|slice:":-1" }}{% elif size == 0 %}{% else %}+{{ size }}{% endif %}
                    </span>&nbsp;<span
                        class="filter-tag-mini poppins-bold">{{ done_counts|get_item:position|get_item:size }} /
                        {{ total_carries|get_item:position|get_item:size }}
                    </span>
                    <i
                        class="fa-solid fa-caret-right toggle-icon"
                        onclick="toggleGroup(this)"
                        style="cursor: pointer;"
                        data-size="{{ size }}"
                        data-position="{{ position }}"
                    ></i>
                </p>
                <div
                    class="collapsable"
                    data-size="{{ size }}"
                    data-position="{{ position }}"
                    style="display: none;"
                >
                    <div
                        class="card-grid"
                        data-size="{{ size }}"
                        data-position="{{ position }}"
                        data-base-url-pattern="{% url 'carry' 'PLACEHOLDER' %}"
                    ></div>
                    <br>
                </div>
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}



    <div id="loadingSpinner" class="loading-spinner"></div>
    
</div>

<script>
    const carriesInfo = {
        {% for position in positions %}
            '{{ position }}': {
                {% for size in sizes %}
                    '{{ size }}': {{ done_carry_names|get_item:position|get_item:size|safe }},
                {% endfor %}
            },
        {% endfor %}
    };
</script>

<script src="{% static 'wrappinggallery/js/collection.js' %}"></script>

{% endblock %}
