{% extends "wrappinggallery/layout.html" %}

{% load static %}

{% load custom_filters %}


{% block body %}


<div id="carryTitle" class="title-container poppins-bold fsmedium">

    <h1 class="pink poiret-one-regular">{{ user.username|capfirst }}' Collection</h1>
    <p>This is my collection where I can keep track of all the carries I have tried so far. Click on a carry to open its page, where you can mark it as "done".</p>
    <br>

    {% for position in positions %}
        <h4 class="poppins-regular pink">{{ position|capfirst }} carries</h4>
        <br>
        {% for size in sizes %}
            {% if total_carries|get_item:position|get_item:size > 0 %}
                <p class="fs16" data-size="{{ size }}" data-position="{{ position }}">
                    <span class="poppins-bold">Base {% if size < 0 %} {{ size|slice:":-1" }}{% elif size == 0 %}{% else %}+{{ size }}{% endif %}</span>
                    &nbsp;<span class="filter-tag-mini poppins-bold">{{ done_counts|get_item:position|get_item:size }} /
                    {{ total_carries|get_item:position|get_item:size }}</span>
                    <i class="fa-solid fa-caret-right toggle-icon" onclick="toggleGroup(this)" style="cursor: pointer;" data-size="{{ size }}" data-position="{{ position }}"></i>
                </p>
                <div class="collapsable" data-size="{{ size }}" data-position="{{ position }}" style="display: none;">
                    <div class="card-grid" data-size="{{ size }}" data-position="{{ position }}" data-base-url-pattern="{% url 'carry' 'PLACEHOLDER' %}"></div>
                    <br>
                </div>
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}



    <div id="loadingSpinner" class="loading-spinner"></div>
    
</div>

<script>
    const carriesInfo = {
        {% for position in positions %}
            '{{ position }}': {
                {% for size in sizes %}
                    '{{ size }}': {{ done_carry_names|get_item:position|get_item:size|safe }},
                {% endfor %}
            },
        {% endfor %}
    };

    // Now you can access carriesInfo in your JavaScript code
    console.log(carriesInfo);
</script>

<script src="{% static 'wrappinggallery/js/collection.js' %}"></script>

{% endblock %}
