{% extends "wrappinggallery/layout.html" %}

{% load static %}

{% load custom_filters %}


{% block body %}



<div id="carryTitle" class="title-container poppins-bold fsmedium">

    <h1 class="pink poiret-one-regular">{{ user.username|capfirst }}' Collection</h1>
    <br>

    {% for position in positions %}
        <h4 class="poppins-regular pink">{{ position|capfirst }} carries</h4>
        <br>
        {% for size in sizes %}
            {% if total_carries|get_item:position|get_item:size > 0 %}
                <p class="fs16" data-size="{{ size }}" data-position="{{ position }}">
                    <span class="poppins-bold">Base {% if size < 0 %} {{ size|slice:":-1" }}{% elif size == 0 %}{% else %}+{{ size }}{% endif %}</span>
                    &nbsp;<span class="filter-tag-mini poppins-bold">{{ done_counts|get_item:position|get_item:size }} /
                    {{ total_carries|get_item:position|get_item:size }}</span>
                    <i class="fa-solid fa-caret-right toggle-icon" onclick="toggleGroup(this)" style="cursor: pointer;" data-size="{{ size }}" data-position="{{ position }}"></i>
                </p>
                <div class="collapsable" data-size="{{ size }}" data-position="{{ position }}" style="display: none;">
                    <div class="card-grid" data-size="{{ size }}" data-position="{{ position }}" data-base-url-pattern="{% url 'carry' 'PLACEHOLDER' %}"></div>
                    <br>
                </div>
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}



    <div id="loadingSpinner" class="loading-spinner"></div>
    
</div>

<script>
    const carriesInfo = {
        {% for position in positions %}
            '{{ position }}': {
                {% for size in sizes %}
                    '{{ size }}': {{ done_carry_names|get_item:position|get_item:size|safe }},
                {% endfor %}
            },
        {% endfor %}
    };

    // Now you can access carriesInfo in your JavaScript code
    console.log(carriesInfo);
</script>

<script src="{% static 'wrappinggallery/js/collection.js' %}"></script>
<script>
    function releaseFooter() {
        const footer = document.querySelector('footer');
        footer.style.position = 'static'; // Reset to default position
        footer.style.bottom = 'auto'; // Reset to default value
        footer.style.width = 'auto'; // Reset to default width
    }


    function fixFooter() {
        const footer = document.querySelector('footer');
        footer.style.position = 'fixed'; 
        footer.style.bottom = '0';
        footer.style.width = '100%';
    }


    function updateFooterPosition() {
        releaseFooter();

        // print position of footer
        let element = document.querySelector('footer');
        elementPosition = 0;

        while(element) {
            elementPosition += element.offsetTop;
            element = element.offsetParent;
        }

        let viewportHeight = window.innerHeight;

        if (elementPosition + 80 < viewportHeight) {
            fixFooter();
        } else {
            releaseFooter();
        }
    }

    document.addEventListener('DOMContentLoaded', function() { 
        updateFooterPosition();
    });
</script>


{% endblock %}
