{% extends "wrappinggallery/layout.html" %}

{% load static %}

{% block body %}
<br>
<div class="title-container poppins-bold fsmedium">
    <div id="searchcarrytitle" class="text-center">
        Search a carry by name
    </div>
</div>
<div class="search-container d-flex justify-content-center">
    <div class="col-md-6">
        <div class="input-group mb-3 position-relative">
            <input id="search-input" type="text" class="form-control input-format poppins-light fs16" placeholder="Type part of the name">
            <button id="button-filter" class="btn btn-outline-secondary ml-4 poppins-light fs16" type="button" onclick="toggleFilterBox(this)">
                <img src="{% static 'wrappinggallery/icons/filters_white.svg' %}" alt="Filters" style="width: 1em; height: 1em;">
            </button>
            <!-- Clear button -->
            <button id="clear-search" class="clear-btn position-absolute" type="button" onclick="clearSearch()">
                &times;
            </button>
        </div>
    </div>
</div>


<br>
<div id="filter-title" class="title-container poppins-bold fsmedium">
    Filter properties
</div>
<div id="filters-container" class="content-container">
    <div id=filterBox style="display: block;">
        <p class="poppins-bold fs16"> Position </p>
        <div class="button-filters" data-property="position">
            {% for value in position_values %}
                <button type="button" class="btn btn-custom mx-1 poppins-regular fs16" data-property="position" data-value="{{ value }}" onclick="clickFilterButton(this)">{{ value }}</button>
            {% endfor %}
        </div>
        <br>
        
        <p class="poppins-bold fs16"> Size <span class="poppins-light">(referenced to base size)</span> </p>
        <div class="button-filters" data-property="size">
            {% for value in size_values %}
                <button type="button" class="btn btn-custom mx-1 poppins-regular fs16" data-property="size" data-value="{{ value }}" onclick="clickFilterMultiButton(this)">{{ value }}</button>
            {% endfor %}
        </div>
        
        <button id="showMoreBtn" class="show-button poppins-light fs16" onclick="showFilterBoxExt()">Show more</button>
    </div>
    <div id=filterBoxExt style="display: none;">
        <hr>
        
        <p class="poppins-bold fs16"> Difficulty</p>
        <div class="dropdown poppins-light fs16">
            <select id="difficulty-select fs16" onchange="handleSelectChange(this)">
                {% for value in difficulty_values %}
                    <option data-property="difficulty" value="{{value}}" selected>{{value}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <br>

        <p class="poppins-bold fs16"> MM position (back carries)</p>
        <div class="dropdown poppins-light fs16">
            <select id="mmposition-select fs16" onchange="handleSelectChange(this)">
                {% for value in mmposition_values %}
                    <option data-property="mmposition" value="{{value}}" selected>{{value}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <br>
        
        <p class="poppins-bold fs16"> Finish</p>
        <div class="dropdown poppins-light fs16">
            <select id="finish-select" onchange="handleSelectChange(this)">
                {% for value in finish_values %}
                    <option data-property="finish" value="{{value}}" selected>{{value}}</option>
                {% endfor %}
            </select>
        </div>
        <hr>

        <div class="checkbox-group poppins-bold fs16">
            <label>
                <input type="checkbox" data-property="pretied" onclick="handleSwitchChange(this)">
                Can be pre-tied
            </label>
        </div>

        <div class="checkbox-group poppins-bold fs16">
            <label>
                <input type="checkbox" data-property="rings" onclick="handleSwitchChange(this)">
                Uses ring(s)
            </label>
        </div>
        
        <div class="checkbox-group poppins-bold fs16">
            <label>
                <input type="checkbox" data-property="fancy" onclick="handleSwitchChange(this)">
                Looks fancy
            </label>
        </div>
        <hr>

        <p class="poppins-bold fs16">
            Must be suitable for
            <i class="fa-solid fa-caret-down toggle-icon" onclick="togglePasses(this, 'suitableGroup')" style="cursor: pointer;"></i>
        </p>
        <div id="suitableGroup" class="checkbox-group poppins-light fs16" style="display: none;">
            <div class="checkbox-group poppins-light fs16">
                <div>
                    <label>
                        <input type="checkbox" data-property="newborns" onclick="handleSwitchChange(this)">
                        Newborns
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="legstraighteners" onclick="handleSwitchChange(this)">
                        Seat poppers
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="leaners" onclick="handleSwitchChange(this)">
                        Leaners
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="bigkids" onclick="handleSwitchChange(this)">
                        Big kids
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="feeding" onclick="handleSwitchChange(this)">
                        Feeding
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="quickups" onclick="handleSwitchChange(this)">
                        Quick ups
                    </label>
                </div>
            </div>
            <br>
        </div>
        <hr>

        <p class="poppins-bold fs16">
            Passes (must contain)
            <i class="fa-solid fa-caret-down toggle-icon" onclick="togglePasses(this, 'passesGroup')" style="cursor: pointer;"></i>
        </p>
        <div id="passesGroup" class="checkbox-group poppins-light fs16" style="display: none;">
            <div>
                <label>
                    <input type="checkbox" data-property="pass_sling" onclick="handleSwitchChange(this)">
                    Sling
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-property="pass_ruck" onclick="handleSwitchChange(this)">
                    Ruck
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-property="pass_kangaroo" onclick="handleSwitchChange(this)">
                    Kangaroo
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-property="pass_cross" onclick="handleSwitchChange(this)">
                    Cross
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-property="pass_reinforcing_cross" onclick="handleSwitchChange(this)">
                    Reinforcing cross
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-property="pass_reinforcing_horizontal" onclick="handleSwitchChange(this)">
                    Reinforcing horizontal
                </label>
            </div>

            <div>
                <label>
                    <input type="checkbox" data-property="pass_horizontal" onclick="handleSwitchChange(this)">
                    Horizontal
                </label>
            </div>

            <div>
                <label>
                    <input type="checkbox" data-property="pass_poppins" onclick="handleSwitchChange(this)">
                    Poppins
                </label>
            </div>
            <br>
        </div>

        <p class="poppins-bold fs16">
            Passes (exclude)
            <i class="fa-solid fa-caret-down toggle-icon" onclick="togglePasses(this, 'noPassesGroup')" style="cursor: pointer;"></i>
        </p>
        <div id="noPassesGroup" class="checkbox-group poppins-light fs16" style="display: none;">
            <div>
                <label>
                    <input type="checkbox" data-property="no_pass_sling" onclick="handleSwitchChange(this)">
                    Sling
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-property="no_pass_ruck" onclick="handleSwitchChange(this)">
                    Ruck
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-property="no_pass_kangaroo" onclick="handleSwitchChange(this)">
                    Kangaroo
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-property="no_pass_cross" onclick="handleSwitchChange(this)">
                    Cross
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-property="no_pass_reinforcing_cross" onclick="handleSwitchChange(this)">
                    Reinforcing cross
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-property="no_pass_reinforcing_horizontal" onclick="handleSwitchChange(this)">
                    Reinforcing horizontal
                </label>
            </div>

            <div>
                <label>
                    <input type="checkbox" data-property="no_pass_horizontal" onclick="handleSwitchChange(this)">
                    Horizontal
                </label>
            </div>

            <div>
                <label>
                    <input type="checkbox" data-property="no_pass_poppins" onclick="handleSwitchChange(this)">
                    Poppins
                </label>
            </div>
            <br>
        </div>
        <hr>
        
        <p class="poppins-bold fs16">
            Other elements (must contain) 
            <i class="fa-solid fa-caret-down toggle-icon" onclick="togglePasses(this, 'otherelemGroup')" style="cursor: pointer;"></i>
        </p>
        <div id="otherelemGroup" class="checkbox-group poppins-light fs16" style="display: none;">
            <div class="checkbox-group poppins-light fs16">
                <div>
                    <label>
                        <input type="checkbox" data-property="other_chestpass" onclick="handleSwitchChange(this)">
                        Chest pass
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="other_bunchedpasses" onclick="handleSwitchChange(this)">
                        Bunched pass(es)
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="other_shoulderflip" onclick="handleSwitchChange(this)">
                        Shoulder flip
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="other_twistedpass" onclick="handleSwitchChange(this)">
                        Twisted pass
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="other_waistband" onclick="handleSwitchChange(this)">
                        Waist band
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="other_legpasses" onclick="handleSwitchChange(this)">
                        Leg pass(es)
                    </label>
                </div>

                <div>
                    <label>
                        <input type="checkbox" data-property="other_s2s" onclick="handleSwitchChange(this)">
                        Shoulder to shoulder
                    </label>
                </div>

                <div>
                    <label>
                        <input type="checkbox" data-property="other_eyelet" onclick="handleSwitchChange(this)">
                        Eyelet
                    </label>
                </div>

                <div>
                    <label>
                        <input type="checkbox" data-property="other_poppins" onclick="handleSwitchChange(this)">
                        Poppins (not as a pass)
                    </label>
                </div>

                <div>
                    <label>
                        <input type="checkbox" data-property="other_sternum" onclick="handleSwitchChange(this)">
                        Pond
                    </label>
                </div>
            </div>
        </div>

        <p class="poppins-bold fs16">
            Other elements (exclude) 
            <i class="fa-solid fa-caret-down toggle-icon" onclick="togglePasses(this, 'nootherelemGroup')" style="cursor: pointer;"></i>
        </p>
        <div id="nootherelemGroup" class="checkbox-group poppins-light fs16" style="display: none;">
            <div class="checkbox-group poppins-light fs16">
                <div>
                    <label>
                        <input type="checkbox" data-property="no_other_chestpass" onclick="handleSwitchChange(this)">
                        Chest pass
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="no_other_bunchedpasses" onclick="handleSwitchChange(this)">
                        Bunched pass(es)
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="no_other_shoulderflip" onclick="handleSwitchChange(this)">
                        Shoulder flip
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="no_other_twistedpass" onclick="handleSwitchChange(this)">
                        Twisted pass
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="no_other_waistband" onclick="handleSwitchChange(this)">
                        Waist band
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" data-property="no_other_legpasses" onclick="handleSwitchChange(this)">
                        Leg pass(es)
                    </label>
                </div>

                <div>
                    <label>
                        <input type="checkbox" data-property="no_other_s2s" onclick="handleSwitchChange(this)">
                        Shoulder to shoulder
                    </label>
                </div>

                <div>
                    <label>
                        <input type="checkbox" data-property="no_other_eyelet" onclick="handleSwitchChange(this)">
                        Eyelet
                    </label>
                </div>

                <div>
                    <label>
                        <input type="checkbox" data-property="no_other_sternum" onclick="handleSwitchChange(this)">
                        Pond
                    </label>
                </div>

                <div>
                    <label>
                        <input type="checkbox" data-property="no_other_poppins" onclick="handleSwitchChange(this)">
                        Poppins (not as a pass)
                    </label>
                </div>
            </div>
        </div>
        <hr>

        <p class="poppins-bold fs16"> Shoulders </p>
        <div class="button-filters" data-property="shoulders">
            {% for value in shoulders_values %}
                <button type="button" class="btn btn-custom mx-1 poppins-regular fs16" data-property="shoulders" data-value="{{ value }}" onclick="clickFilterButton(this)">{{ value }}</button>
            {% endfor %}
        </div>
        <br>
        
        <p class="poppins-bold fs16"> Layers </p>
        <div class="button-filters" data-property="layers">
            {% for value in layers_values %}
                <button type="button" class="btn btn-custom mx-1 poppins-regular fs16" data-property="layers" data-value="{{ value }}" onclick="clickFilterButton(this)">{{ value }}</button>
            {% endfor %}
        </div>

        <hr>
        <button id="showLessBtn" class="show-button poppins-light fs16" onclick="hideFilterBoxExt()">Show less</button>
    </div>
</div>

<div class="fixed-container">
    <div id=buttonBox style="display: block;">
        <div class="row justify-content-center">
            <button id="showResultsBtn" type="button" class="btn pinkbg btn-custom mx-1 poppins-regular disabled fs16" onclick="showResults()">Show results</button>
            <button id="resetFiltersBtn" type="button" class="btn pinkbg btn-custom mx-1 poppins-regular fs16" onclick="resetFilters()">Reset filters</button>
        </div>
    </div>
</div>

<div id="count-text" style="display: none;" class="title-container poppins-bold fs16">
    Showing carries
</div>
<div id="filters-applied" style="display: none;" class="title-container poppins fssmall">
</div>
<div id="loadingSpinner" class="loading-spinner"></div>
<div class="grid" id="imageGrid" data-base-url-pattern="{% url 'carry' 'PLACEHOLDER' %}"></div>
<div class="title-container text-center">
    <button id="loadMore" class="poppins-light fssmall" onclick="loadMore(this)">
        Load more
    </button>
</div>
<div id="loadingSpinner" class="loading-spinner"></div>
<br>
<br>
<br>


<script src="{% static 'wrappinggallery/js/index.js' %}"></script>

{% endblock %}
