{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carry search engine</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'wrappinggallery/styles.css' %}" rel="stylesheet">
    <link href="{% static 'wrappinggallery/grid.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'wrappinggallery/favicon.ico' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header"> 
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">THE WRAPPING GALLERY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" data-page="about-page" href="{% url 'about' %}">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" data-page="carries-page" href="{% url 'index' %}">Carries</a>
                </li>
            </ul>
        </div>
      </nav>
    </div>
    {% block body %}
    {% endblock %}
    <!-- Include jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Optional: Include Popper.js for Bootstrap's dropdowns, tooltips, and popovers -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</body>
</html>
