/* Existing styles */
.navbar {
    min-height: 80px;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.bg-dark {
    background-color: #2e2d2d !important;
}

#header {
    position: static;
    width: 100%;
    transition: top 0.5s ease-in-out;
    z-index: 1000;
}

#header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #343a40; /* Or any other color matching your navbar */
    animation: slideDown 0.5s ease-in-out;
}


@keyframes slideDown {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}


body {
    padding-top: 80px;
    background-color: #F5F7F8;
}

.row {
    max-width: 100%;
    margin: 0 auto;
}

.navbar-toggler {
    border: 2px solid grey !important;
}


#buttonBox {
    max-width: 100%;
    padding: 20px 0px;
}

.navbar-brand {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: #e0e0e0;
    margin-right: 20px;
    cursor: pointer;
}



#logo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 8px;
}


.button-filters {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
}

.button-filters::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit-based browsers */
}

.button-filters {
    -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.button-filters button {
    flex-shrink: 0; /* Prevent buttons from shrinking */
}

.navbar-nav .nav-link {
    color: white !important;
    margin-right: 10px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: 13px;
    cursor: pointer;
}

.navbar-nav .nav-link:hover {
    color: #2e2d2d !important;
    background-color: #888 !important;
}

.navbar-nav .nav-link:last-child {
    margin-right: 0;
}

.navbar-dark .navbar-nav .nav-item .nav-link.active {
    background-color: white;
    color: grey !important;
}


.btn-group {
    display: flex;
    flex-wrap: wrap;
}

/* Ensure active state is black */
.btn-custom.active {
    background-color: #2e2d2d;
    color: white !important;
}


.btn-custom {
    color: #2e2d2d;
    border: 2px solid #2e2d2d;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    padding: 9px 20px;
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.btn-custom:focus {
    outline: none;
    box-shadow: none;
    color: #2e2d2d;
}

.btn-outline-secondary {
    margin-left: -10px !important;
    font-size: 14px;
    border-radius: 15px;
    width: 50px;
    z-index: 800;
    background-color: #2e2d2d;
    border: #2e2d2d;
}

.btn-outline-secondary:focus {
    background-color: #2e2d2d; /* Ensures it stays black after clicking */
    border-color: #2e2d2d; /* Ensures border stays black after clicking */
}


.btn-outline-secondary.disabled {
    cursor: not-allowed;
    background-color: lightgrey;
    opacity: 1;
}


.btn-outline-secondary.disabled:hover {
    cursor: not-allowed;
    background-color: grey;
}

#button-filter {
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle grey shadow */
}

p, li {
    font-size: 12px;
    font-weight: 400;
}

.input-format{
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: none;
}

.input-underline:focus {
    border-bottom-color: #000;
    box-shadow: none;
}


.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fs32 {
    font-size: 50px;
}

.fsmedium {
    font-size: 17px;
}

.fscarry {
    font-size: 13px;
}

.fsplus {
    font-size: 20px;
}

.fs16 {
    font-size: 14px;
}

.fssmall {
    font-size: 13px;
}

.playfair {
  font-family: "Playfair Display", sans-serif;
}

.dancing {
  font-family: "Dancing Script", sans-serif;
}

.show-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: #2e2d2d;
}

.show-button:focus {
    outline: none;
}

.checkbox-group label {
    padding-left: 10px; /* Adjust the padding as needed */
}

.checkbox-group input[type="checkbox"] {
    appearance: none; /* Removes default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    border-radius: 3px;
}

/* Checkbox checked state with solid black background */
.checkbox-group input[type="checkbox"]:checked {
    background-color: #2e2d2d;
    border: none;
}

.btn-container {
    display: flex !important;
    justify-content: center  !important; /* Centers the button horizontally */
    align-items: center  !important; /* Centers the button vertically */
}

.show-button:hover {
    color: grey;
}

.dropdown select:focus {
    outline: none;
}

.dropdown {
    display: inline-block;
    position: relative;
    max-height: 30px;
    margin-bottom: 10px;
}

.dropdown select {
    width: 200px;
    height: 40px; /* Set a fixed height for the dropdown */
    padding: 6px;
    border: 2px solid #2e2d2d;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.dropdown {
    color: #2e2d2d; /* Ensure the text color of the dropdown is set to black */
}

.dropdown select {
    color: #2e2d2d !important; /* Ensure the text color of the dropdown is set to black */
}

.dropdown option {
    color: #2e2d2d !important; /* Ensure the text color of the options is set to black */
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 30%;
    background-color: #e8e8e8;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}

.main-content {
    width: 70%;
    background-color: #dcdad8;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    min-height: calc(100vh - 140px);
}


.pink {
    color: #ad9393;
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.search-container {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    max-width: 1000px;
    padding: 10px;
}

.title-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 1000px;
}

.fixed-container {
    marging-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    max-width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Small shadow */
    background-color: lightgrey; /* Optional: to ensure the shadow is visible */
    z-index: 1000;  Ensure it stays above other content 
}

#showMoreBtn {
    margin-top: 30px;
    margin-bottom: 30px;
}

#search-input {
    max-width: 100%;
}

@media only screen and (max-width: 1024px) {
    .content-container {
        margin-left: auto;
        margin-right: auto;
        width: 90% !important;
    }

     .title-container {
        margin-left: auto;
        margin-right: auto;
        width: 90% !important;
    }

     .search-container {
        margin-left: auto;
        margin-right: auto;
        width: 90% !important;
    }

    .fs16 {
        font-size: 13px;
    }

    .fssmall {
        font-size: 12px;
    }

    .fsmedium {
        font-size: 14px;
    }

    .fscarry {
        font-size: 14px;
    }

    .fsplus {
        font-size: 16px;
    }

}

@media only screen and (max-width: 320px) {
    #copy-right {
        font-size: 10px !important;
    }   
}

@media only screen and (max-width: 425px) { 
    .navbar-toggler {
        width: 50px;
        padding: 7px;
        font-size: 18px;
    }

    .navbar-title {
        display: none;
    }

    #logo {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin-right: 8px;
        font-size: 20px;
    }

}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .navbar {
        padding-left: 30px;
        padding-right: 30px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .fs16 {
        font-size: 13px;
    }

    .fssmall {
        font-size: 12px;
    }
    
    .btn-custom {
        color: #2e2d2d;
        border-radius: 12px;
        margin-right: 3px !important;
        margin-left: 3px !important;
        padding: 5px 12px;
    }

    .dropdown select {
        border: 2px solid #2e2d2d;
    }

    #button-filter {
        padding: 5px 10px !important;
        font-size: 15px !important;
    }

    .pinkbg {
        padding: 10px 12px;
    }

    #picture-tutorial-grid {
        padding: 0px !important;
    }

}


.custom-switch .custom-control .checkbox {
    z-index: 0 !important;
}


.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
  color: #e0e0e0;
}


.nav li {
    margin-right: 15px; /* Adjust the spacing as needed */
}

.nav li:last-child {
    margin-right: 0; /* Ensure the last item doesn't have extra space */
}


footer {
    color: white !important;
    background-color: #2e2d2d !important;
    padding: 10px; /* Padding inside the footer */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right {
    padding-right: 20px; /* Padding to the right of "blu" */
}

.my-4 {
    margin-bottom: 0px !important;
}


#copy-right {
    color: #e0e0e0;
    font-size: 13px;
    padding-left: 10px;
}

#social {
    padding-right: 30px;
    max-width: 100px !important;
}

#loadMore {
    border: 2px solid #ad9393;
    border-radius: 5px;
    padding: 5px 20px;
    align-items: center;
    background-color: transparent;
    color: #ad9393;
}

#loadMore:focus {
    outline: none;
}


#loadMore:hover {
    outline: none;
    background-color: white;
}


.loading-spinner {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    animation: spin 1s linear infinite;
    z-index: 1000;
    display: none; /* Initially hidden */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.position-relative {
    position: relative;
}

#search-input {
    padding-right: 35px; /* Add padding to accommodate the clear button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle grey shadow */
}

.clear-btn {
    border: none;
    background: none;
    position: absolute;
    right: 40px; /* Position 10px from the right border */
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
    cursor: pointer;
    z-index: 1000; /* Ensure it’s on top of other elements */
    width: 50px;
    padding: 0;
    display: none; /* Hide by default */
}

#search-input:not(:placeholder-shown) ~ .clear-btn {
    display: block; /* Show the clear button when there's text in the input */
}

.position-absolute {
    position: absolute;
}


/* Optional: Add custom focus styles if needed */
.clear-btn:focus {
    outline: none; /* Ensure no outline appears on focus */
}


.info-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: lightgrey;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 12px;
    font-size: 8px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin-left: 2px; /* Add some space between the text and the icon */
    cursor: pointer;
    vertical-align: super; /* Align the icon with the text */
}

.info-icon-dark {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ad9393;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 12px;
    font-size: 8px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin-left: 2px; /* Add some space between the text and the icon */
    cursor: pointer;
    vertical-align: super; /* Align the icon with the text */
}

.info-icon-black {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 11px;
    font-size: 8px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin-left: 2px; /* Add some space between the text and the icon */
    cursor: pointer;
    vertical-align: super; /* Align the icon with the text */
}


.icon-container {
    display: flex;
    align-items: center; /* Aligns the items vertically centered */
}


.filter-tag {
    background-color: #e0e0e0;  /* Light grey background */
    border-radius: 4px;  /* Rounded corners */
    padding: 5px 10px;  /* Padding inside the rectangle */
    margin-right: 5px;  /* Space between filters */
    margin-bottom: 5px;
    display: inline-block;  /* Display inline with other elements */
    font-size: 12px;  /* Adjust the font size */
    color: #333;  /* Text color */
}

.reset-button {
    cursor: pointer;
    font-size: 14px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 50%;
    margin-left: 2px;
    vertical-align: middle;
}


.pinkbg {
    background-color: #ad9393 !important;
    border: 2px solid #ad9393 !important;
    color: white;
}


.pinkbg.disabled {
    cursor: not-allowed;
    border: 2px solid #ad9393 !important;
    background-color: transparent !important;
    color: #ad9393;
}

.toggle-icon {
    cursor: pointer;
    margin-left: 10px; /* Adjust the spacing here as needed */
    font-size: 16px; /* Adjust size if needed */
}


hr {
    margin-top: 20px;  /* Adjust this value to increase/decrease padding above */
    margin-bottom: 20px;  /* Adjust this value to increase/decrease padding below */
}

.nav-link {
    color: white !important;
}

.instagram-media {
    margin: 0 auto;
}

.instagram-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
